.dashboard-page .admin-dashboard {
  padding: 20px 150px;
}

.dashboard-page .stats-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}
.dashboard-page .card-view h2{
    color: var(--color-darkBlue) !important;
    border-bottom: 2px solid #e3e3e3;
    padding-left: 15px;
    padding-bottom: 10px;
}
.dashboard-page .card-view{
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.dashboard-page .card {
  background:white;
  padding: 15px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgb(0, 0, 0,0.4);
}
.dashboard-page .card i{
    color: var(--color-gold);
    transform: scale(1.70);
}
.dashboard-page .row{
   display: grid;
   align-items: center;
   grid-template-columns: 30px 1fr;
   gap: 20px;
   padding: 10px 20px;
}
.dashboard-page .card:nth-child(1) i{
    color: #f25e63 !important;
}
.dashboard-page .card:nth-child(2) i{
    color: var(--color-darkBlue) !important;
}
.dashboard-page .card:nth-child(3) i{
    color: #17c45e !important;
}
.dashboard-page .card p{
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
}

.dashboard-page .card:nth-child(2) p{
    color: var(--color-darkBlue);
    background-color: #d9e6ff;
}
.dashboard-page .card:nth-child(3) p{
    color: #17c45e;
    background-color: #d0f5e0;
}
.dashboard-page .card:nth-child(1) p{
    color: #f25e63;
    background-color: #fddbda;
}
.dashboard-page .card:nth-child(4) p{
    color: white;
    background-color: var(--color-gold);
}
.dashboard-page .card:nth-child(1) h2{
     color:#f25e63;
}
.dashboard-page .card:nth-child(3) h2{
    color: #17c45e;
}
.dashboard-page .card:nth-child(4) h2{
    color: var(--color-gold);
}
.dashboard-page .card span{
    color: var(--color-darkBlue);
    font-size: 15px;
}
.dashboard-page .card:nth-child(1) span{
   color: #b62c28;
}
.dashboard-page .card:nth-child(3) span{
   color: #066a31;
}
.dashboard-page .card:nth-child(4) span{
   color: #000;
}
.dashboard-page .card img{
    border-radius: 50%;
    width: 70px;
}


/* Styles for screens wider than 768px (e.g., tablets and desktops) */
@media (min-width: 820px ) and (max-width: 1299px) {
  .dashboard-page .admin-dashboard {
    padding: 20px 50px;
}
.dashboard-page .card p {
    font-size: 14px;
}
.dashboard-page .card i{
    transform: scale(1.2);
}
.dashboard-page .card h2{
    font-size: 22px;
    margin-top: 10px;
}
.dashboard-page .chart-container {
    width: 400px !important;
}
}

/* Styles for screens between 480px and 767px (e.g., larger phones) */
@media (min-width: 480px) and (max-width: 820px) {
    .dashboard-page .admin-dashboard {
    padding: 20px 50px;
}
.dashboard-page .card p {
    font-size: 14px;
}
.dashboard-page .card i{
    transform: scale(1);
}
.dashboard-page .card h2{
    font-size: 22px;
    margin-top: 10px;
}
.dashboard-page .chart-container {
    width: 370px !important;
}
.dashboard-page .card-view .card:first-of-type .chart-container canvas{
    width: 250px !important;
}
}   
@media (max-width:955px) {
    .stats-cards{
    grid-template-columns: repeat(2,1fr) !important;

}
}